input,
textarea {
    border: 2px solid black;
}

textarea {
    resize: vertical;
}

.ressource-container,
.ressource-content {
    display: flex;
    flex-direction: column;
}

.ressource-container {
    margin: 1rem;
}